/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


body {
  background-color:white;
}

#cycle{
  margin-top:30px;
}
#cycle a:hover{
  text-decoration: none;
  color: black;
}
.cycle {
  text-decoration: underline;
  color:black;
  font-family: Graphik;
  font-size: 15px;
}



.description {
  font-family: Graphik;
}

#addcart{
  background-color: black;
  color:white;
  font-family: Graphik;
  font-weight: medium;
}
#second p{
  padding-right: 10px;
}
#top-header{
  background-color: #f7f7f7;
}

#third p{
  font-family: Graphik;
}

#third button{
  border: 1px solid black;
  border-radius:0;
  text-align: center;
  padding-left:30px;
  padding-right:30px;
}

#size{
  text-decoration:underline;
  font-size: 10px;
  color:black;
}
.black{
  background-color: black;
  color: white;
  font-weight:bold;
  font-family: Graphik;
}

.beige{
  background-color:#eff1ca;
  font-family: Graphik;
}

.carousel-indicators li {
  border-radius: 50%;
  bottom:-20px;
  width: 8px;
  height: 8px;
  background-color: #dbdee1;
}


/* Bottom half of the page */

#bottom-half img{
  margin-top: 5px;
  margin-bottom: 5px;
}

#bottom-half a{
  color:black;
  border-bottom: 1px solid black;
}

#bottom-half a:hover{
  text-decoration: none;
}

/* #middle{
  text-align:center;
  display:table;
  background:pink;
}
#middle figcaption{
 border: 5px solid black;
} */
@media only screen and (max-width: 575px) {
	#second {
		order: 2;
	}
	#third {
		order: 3;
  }
}